/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.ok{
  -fx-font-family : Tahoma;
  -fx-font-size : 22px;
  -fx-text-fill: #FFF;
  -fx-background-radius: 10px;
  -fx-background-color: #FF0000;
}
.ok:hover{
    -fx-cursor: hand;
    -fx-border-color: #FF0000;
    -fx-border-width: 3px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
     -fx-text-fill:#FF0000;
    -fx-font-weight: bold; 
}