/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.control_btn{
  -fx-font-family : Tahoma;
  -fx-font-size : 22px;
  -fx-text-fill: #FFF;
  -fx-background-radius: 10px;
  -fx-background-color: #AA3672;
  -fx-animated: true;
}
.control_btn:hover{
    -fx-cursor: hand;
    -fx-border-color: #AA3672;
    -fx-border-width: 3px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
    -fx-text-fill: linear-gradient(#C02347 0%,#8F3D85 85%);
    -fx-font-weight: bold; 
  
}
.friend_pane:hover{
    -fx-border-color:#BCDDEE;
   -fx-border-width: 0.5px;
    -fx-cursor: hand;
    -fx-border-color: #AA3672;
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
}
.invite_button:hover{
   -fx-border-color:#BCDDEE;
   -fx-border-width: 0.5px;
}
.invit_friend{

    -fx-font-size : 10px;
    -fx-background-color: FFF;
    -fx-text-fill: linear-gradient(#C02347 0%,#8F3D85 85%);
    -fx-font-weight:bold;
    -fx-font-family: 'Comic Sans MS';
    -fx-font: italic;
   -fx-font: bold;   
}
.friend_label{
     -fx-background-color: rgba(0, 0, 0, 0.03);
     -fx-cursor: hand;
  
    -fx-border-color: linear-gradient(#C59FFD 15%,#8F3D85 80%);
     -fx-border-width: 3px;
 
    -fx-border-radius:10px;
}