/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.user_label{
    
    -fx-background-color:  rgbargba(255,255,255,0.008);
     -fx-cursor: hand;
  
    -fx-border-color: linear-gradient(#C59FFD 15%,#8F3D85 80%);
     -fx-border-width: 3px;
 
    -fx-border-radius:10px;
  
     
}
/*.user_label:hover{
    
    -fx-background-color:  rgba(0, 0, 0, 0.03);
     -fx-cursor: hand;
  
    -fx-border-color:#85D3FF;
     -fx-border-width: 3px;
 
    -fx-border-radius:10px;
  
     
}*/
.control_btn{
  -fx-font-family : Tahoma;
  -fx-font-size : 22px;
  -fx-text-fill: #FFF;
  -fx-background-radius: 10px;
  -fx-background-color: #AA3672;
  -fx-animated: true;
}
.control_btn:hover{
    -fx-cursor: hand;
    -fx-border-color: #AA3672;
    -fx-border-width: 3px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
    -fx-text-fill: linear-gradient(#C02347 0%,#8F3D85 85%);
    -fx-font-weight: bold; 
  
}