/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.control_btn{
  -fx-font-family : Tahoma;
  -fx-font-size : 22px;
  -fx-text-fill: #FFF;
  -fx-background-radius: 10px;
  -fx-background-color: #AA3672;
    -fx-animated: true;
}
.control_btn:hover{
    -fx-cursor: hand;
    -fx-border-color: #AA3672;
    -fx-border-width: 3px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
    -fx-text-fill: linear-gradient(#C02347 0%,#8F3D85 85%);
    -fx-font-weight: bold; 
  
}


